NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD48ln2VLOy-JHyiXiPxY__XytVsTQCdEY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nexusai-3d6b4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nexusai-3d6b4
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nexusai-3d6b4.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=886127530342
NEXT_PUBLIC_FIREBASE_APP_ID=1:886127530342:web:b443ea5dd946757c31b8a7
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-VC7YS9TTRZ
